@page
@model dotnetCore.Pages.LanguageContant.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LanguageContant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LanguageContant.ID" />
            <div class="form-group">
                <label asp-for="LanguageContant.Value" class="control-label"></label>
                <input asp-for="LanguageContant.Value" class="form-control" />
                <span asp-validation-for="LanguageContant.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageContant.Abbreviation1" class="control-label"></label>
                <input asp-for="LanguageContant.Abbreviation1" class="form-control" />
                <span asp-validation-for="LanguageContant.Abbreviation1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageContant.Abbreviation2" class="control-label"></label>
                <input asp-for="LanguageContant.Abbreviation2" class="form-control" />
                <span asp-validation-for="LanguageContant.Abbreviation2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageContant.Connection" class="control-label"></label>
                <input asp-for="LanguageContant.Connection" class="form-control" />
                <span asp-validation-for="LanguageContant.Connection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
